langchain
pypdf
yt_dlp
pydub
chromadb
lark
ipykernel
openai
langchain-community
beautifulsoup4
tiktoken
transformers
langchain-huggingface
pysqlite3-binary
ipywidgets
langchain-chroma
openllm
llama-cpp-python